

  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  header {
    background-color: #F1F1F1;
    padding: 20px;
    text-align: center;
  }
  
  main {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    grid-template-columns: 80% 20%;
    height: 370px;
  }
  
  .weather-search {
    width: 750px;
    padding: 20px;
    margin-left: 30%;
    margin-right: 25%;
    text-align: left;
  }
  
  .stockholm-weather {
    width: 200px;
    padding: 20px;
    
    margin-left: 45px;
  }
  
  footer {
    background-color: #F1F1F1;
    padding: 20px;
    text-align: center;
  }

  #localHeader{margin-left: 750px;}

  #searchWeather{margin-right: 300px;}

  #searchInput{width: 338px;}

  #search-div{text-align: left;margin-left: 50px;}

  header{background-image:url("../images/stockholm.jpg");
    background-size: cover;
    background-position: center;
  }

  